@import "tailwindcss";

@theme {
  --color-primary-red: #B30006;
  --color-primary-yellow: #FFC30B;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
