@import "tailwindcss";

@theme {
  --color-primary-red: #B30006;
  --color-primary-yellow: #FFC30B;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fadeInOut 3s ease-in-out forwards;
}
